[Desktop Entry]
Type=Application
Name={{DISPLAY_NAME}}
Comment={{DESCRIPTION}}
Exec={{APP_NAME}}
Icon={{APP_NAME}}
Categories=Development;
Terminal=false
StartupNotify=true
